@model eManager.Domain.Department

@{
    ViewBag.Title = "Detail";
}

<h2>Department Detail</h2>

<fieldset>
    <legend>Department</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>

<table>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach(var employee in Model.Employees)
    {
        <tr>
            <td>@employee.name</td>
            <td>

            </td>
        </tr>
    }
</table>